---
export interface Props {
    post: any;
}
const { post } = Astro.props;
---



<div class="p-4 max-w-md">
  <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
      <img class="h-48 w-full object-cover object-center" src={post.frontmatter.image} alt="...">
      <div class="p-6">
          <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{post.frontmatter.race}</h2>
          <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{post.frontmatter.title}</h1>
          <p class="leading-relaxed mb-3">
              {post.frontmatter.description}
          </p>
          <div class="flex items-center flex-wrap">
              <a href={post.url} class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
                  Learn More
              </a>
              
          </div>
      </div>
  </div>
</div>